.albumContainer {
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(248, 248, 248, 0.75);
  border-radius: 8px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 20px auto;
  display: flex;
  max-width: 700px;
  flex-direction: column;
  align-items: center;
  border: 4px solid #e0e0e0;
  transition: background-color 0.3s ease;
}

.albumContainer:hover {
  background-color: rgba(248, 248, 248, 0.90);
}

.albumContainer p {
  font-size: 1.1rem;
  color: #333;
  line-height: 1.6;
  margin: 10px 0;
}

.albumContainer .albumTitle {
  font-weight: bold;
  font-size: 1.3rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.albumContainer .albumId {
  font-size: 1rem;
  color: #888;
}

.albumButtons {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-bottom: 15px;
}

.albumContainer button {
  padding: 8px 15px;
  font-size: 1rem;
  background-color: #c01532;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex-grow: 0;
  max-height: 2.6vw;
}

.albumContainer button:hover {
  background-color: #a0122b;
}
.albumActions {
  position: absolute;
  bottom: 40px;
  left: 10px;
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 1.5rem;
}

.albumActions .updateIcon,
.albumActions .deleteIcon {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.albumActions .updateIcon:hover,
.albumActions .deleteIcon:hover {
  transform: scale(1.1);
}

.photoContainer {
  display: flex;
  flex-direction: column;
  max-width: 520px;
  flex-wrap: wrap;
  height: 500px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 15vh;
}

.photos-grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.photoContainer .close-btn {
  width: fit-content;
  align-self: center;
  margin-top: 0.5em;
  margin-left: 14em;
  padding: 5px 10px;
  color: rgba(60, 59, 59, 0.613);
  cursor: pointer;
  font-size: 2.1rem;
  background-color: transparent;
  z-index: 99;
}

.photoContainer .close-btn:hover {
  color: #a0122b;
  background-color: transparent !important;
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 10px;
}

.album-actions {
  display: flex;
  justify-content: space-between;
}

button {
  margin: 5px;
}

.delete-icon,
.edit-icon {
  margin: 5px;
}

.photoContainer::-webkit-scrollbar {
  width: 8px;

}

.photoContainer::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #a0122c4a;
}